@use '~/styles/variables.scss' as *;


.sub-item-container {
    display: flex;
    position: absolute;
    right: 0;
    max-width: $md;
    width: 100%;
    justify-content: space-around;
    background: $bg-primary;
    z-index: 1;
    box-shadow: 6px 6px 5px;

    &.open {
        animation: show-drawer $transition-speed;
    }
}

@keyframes show-drawer {
    from {
        transform: translateX(150%);
    };
    to {
        transform: translateX(0%);
    };
}