@use '~/styles/variables.scss' as *;

.products {
    justify-content: flex-start;
    @extend .p-2;
    display: flex;
    margin: -1rem -0.5rem;
    flex-wrap: wrap;

    > * {
        justify-content: center;
        flex: 0 1 calc(25% - 1rem);
        margin: 1rem 0.5rem;
    }

    @include media-sm {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}