@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.pageNumber {
    // @include base-button-input-style;
}



