@use '~/styles/variables.scss' as *;
@use '~/styles/button.scss';

.root {
	display: flex;
	justify-content: space-between;
}

.hidden {
	visibility: hidden;
}

.pageNumber {
	@extend .p-2;
}

.link {
	text-decoration: none;
	color: inherit;
}