@use '~/styles/variables.scss' as *;

.root {
    background: none;
}

.categories {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px;
    align-items: center;
}

.category {
    color: $font-dark;
    padding: $space-sm;
    transition: $transition-speed;

    &:hover {
        background: $bg-secondary;
    }
}