@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;

    .images,
    .info {
        flex: 1 1 100%;
    }
}

.info {
    display: flex;
    flex-direction: column;
    border: 1px solid $bg-primary;
    background: $bg-primary;
}