@use '~/styles/variables.scss' as *;


.root {
    position: relative;

    @include media-sm {
        margin-bottom: 2rem;
    }
}

.imagesPreview {
    display: flex;
    flex-wrap: wrap;

    .image-item {
        flex: 1 0 33.3333%;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        border: 1px solid $secondary-light;
        
        button {
            background: none;
            border: none;
            transition: $transition-speed-fast;
    
            &.selected, &:hover {
                transform: scale(1.05);
                box-shadow: 0px 0px 5px black;
            }
        }
    }
}


.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    border: none;

    > div {
        margin: 0 auto;
        display: block;
    }

    img {
        height: 100vh;
        width: 100%;
    }
}

.next-btn, .prev-btn {
    position: fixed;
    top: 50%;
    z-index: 1001;
    height: 200px;
    transform: translateY(-50%);
    width: 100px;
    border: none;
    background: rgba(0,0,0,0.3);
    color: white;
}

.next-btn {
    right: 0;
}

.prev-btn {
    left: 0;
}
