@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    align-items: center;
    
    select, input, textarea {
        @extend .button;
        transition: $transition-speed;
        
        &:hover {
            border-color: $primary;
        }
    }
}

.label {
    margin-right: 0.5rem;
}