@use '~/styles/variables.scss' as *;


.root {
    @include base-input-align;
    @include padding(0.2);
    width: 100%;
    
    select, input, textarea {
        @include base-button-input-style;
        width: 100%;
    
        &:hover {
            border-color: $primary;
        }
    }
}

