@use '~/styles/variables.scss' as *;


.root {
    @extend .base-input;
    
    select, input, textarea {
        @extend .button;
        transition: $transition-speed;
        
        &:hover {
            border-color: $primary;
        }
    }
}

.label {
    margin-left: 0.5rem;
}