@use '~/styles/variables.scss' as *;

$gap: 1rem;

.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @extend .mb-5;

    > * {
        margin: 0 $gap;
    }

    .image {
        flex: 1;
    }
    .title {
        flex: 3;
    }
    .price {
        flex: 1;
    }
    .options {
        flex: 2;
        > * {
            margin: 0.2rem 0;
        }
    }
  
    @include media-xs {
        .image {
            flex: 1 1 calc(50% - #{$gap} * 2);
        }
        .title {
            flex: 1 1 calc(50% - #{$gap} * 2);
        }
        .price {
            flex: 1 1 calc(50% - #{$gap} * 2);
        }
        .options {
            flex: 1 1 calc(50% - #{$gap} * 2);
        }
    }
}

.link {
    color: $primary;
    &:hover {
        color: $primary-dark;
    }
}

.line {
    @extend .my-1;
}