@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @extend .mb-5;

    > * {
        margin: 0 1rem;
    }

    .image {
        flex: 3;
    }

    .link {
        color: $primary;
        &:hover {
            color: $primary-dark;
        }
    }
    
    .title {
        flex: 5;
        color: $font-dark;
    }

    .price {
        flex: 1;
    }

    .options {
        flex: 1;
        > * {
            margin: 0.2rem 0;
        }
        
        button, input, select {
            width: 100%;
        }
    }

    @include media-xs {
        .title {
            flex: 1 1 100%;
            text-align: center;
            order: -1;
        }
        .image {
            flex: 1 1 100%;
        }
        // .options {
        //     flex: 1 1 100%;
        // }
    }
}

.line {
    @extend .my-1;
}