@use '~/styles/variables.scss' as *;


.form {
    display: flex;
    flex-wrap: wrap;
    @extend .px-2;

    .errorMessage {
        @extend .p-2;
        display: none;
    }
}

.error {
    color: $error;

    .errorMessage {
        display: inline-block;
    }
}

.input-group {
    margin: 0.5rem 0;
    display: flex;
    height: 100%;

    @include media-xs {
        flex-wrap: wrap;
        flex-basis: 100%;
    }
}

.input-columns {
    flex: 1;
    height: 100%;


    @include media-sm {
        flex-basis: 100%;
    }
}

.input-columns:first-child {
    margin-right: 0.5rem;
}

.input-columns:last-child {
    margin-left: 0.5rem;
}

.input-columns:first-child,
.input-columns:last-child {
    @include media-sm {
        margin: 0;
    }
}

.textarea {
    resize: none;
    min-height: 320px;
}