@use '~/styles/variables.scss' as *;

$width: minmax(0, 272px);

.products {
    display: grid;
    grid-template-columns: repeat(4, $width);
    justify-content: center;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    @extend .p-2;

    @include media-md {
        grid-template-columns: repeat(2, $width);
    }

    @include media-xs {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}