@use '~/styles/variables.scss' as *;


.products {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 200px));
    justify-content: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-auto-rows: 320px;

    @include media-sm {
        grid-template-columns: repeat(2, minmax(100px, 200px));
    }

    @include media-xs {
        grid-template-columns: repeat(1, minmax(100px, 200px));
    }
}