@use '~/styles/variables.scss' as *;


.root {
    border: none;
    background: none;
    padding: 0 1rem;
    @include margin(0, 1);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.outlined {
    border: 1px solid #000;
}

.text {
    border: none;
}

.primary {
    color: $primary
}

.secondary {
    color: $secondary
}

.white {
    color: white
}

.black {
    color: black
}
