@use '~/styles/variables.scss' as *;


.root {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    @include padding(0.4, 1.5);
    text-transform: uppercase;
    transition: $transition-speed;
}

.outlined {
    border: 1px solid $secondary;
}

.text {
    border: none;
}

.primary {
    &:hover {
        background: $primary;
        color: $font-light;
        fill: $font-light;
    }
}

.secondary {
    &:hover {
        background: $secondary;
        color: $primary;
        fill: $primary;
    }
}

.light {
    color: $font-light;
    fill: $font-light;
}

.dark {
    color: $font-dark;
    fill: $font-dark;
}

.small {
    @include padding(0.2, 0.7);
}

.large {
    @include padding(0.8, 3);
}