@use '~/styles/variables.scss' as *;


.root {
    @include base-button-input-style;
    @include base-button-align;
    @extend .m-1;

    text-transform: uppercase;
    border: 1px solid $secondary-light;

    &[disabled] {
        background: $secondary;

        &:hover {
            color: $font-dark;
            fill: $font-dark;
            background: $secondary;
            border: 1px solid $secondary-light;
        }
    }
}

.full-width {
    width: 100%;
}

.outlined {
    &:hover {
        border: 1px solid $primary;
        color: $primary;
        fill: $font-light;
    }
}

.text {
    border: none;

    &:hover {
        color: $primary;
        fill: $primary;
    }
    
}

.contained {
    &:hover {
        border: 1px solid $primary;
        background: $primary;
        color: $font-light;
        fill: $font-light;
    }
}

.light {
    color: $font-light;
    fill: $font-light;
}

.dark {
    color: $font-dark;
    fill: $font-dark;
}

.small {
    @extend .py-1, .px-2;
}

.large {
    @extend .py-2, .px-3;
}