@use '~/styles/variables.scss' as *;


.root {
    position: relative;
    overflow: hidden;
    @extend .mb-3;
}

.body {
    position: absolute;
    bottom: 10%;
    right: 2%;
    max-width: 920px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    box-shadow: 0px 0px 16px 20px rgba(0, 0, 0, 0.5);
}

.image {
    height: 480px;
    @include media-sm {
        height: 240px;
    }
}
