@use '~/styles/variables.scss' as *;


.root {
    display: block;
    max-width: $container-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bottom__xl { @extend .mb-5; }
.top__xl { @extend .mt-5 ;}

.bottom__lg { @extend .mb-4; }
.top__lg { @extend .mt-4 ;}

.bottom__md { @extend .mb-3; }
.top__md { @extend .mt-3 ;}

.bottom__sm { @extend .mb-2; }
.top__sm { @extend .mt-2 ;}

.bottom__xs { @extend .mb-1; }
.top__xs { @extend .mt-1 ;}
