@use '~/styles/variables.scss' as *;


.cart-length {
    position: relative;
    background: red;
    top: 0;
    right: 0;
    border-radius: 100%;
    min-width: 1.2rem;
    height: 1.2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-light;
}