@use '~/styles/variables.scss' as *;

.root {
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    transition: $transition-speed-fast;

    &:hover {
        transform: scale(1.01);
        box-shadow: 2px 2px 7px black;
    }

    @include media-xs {
        display: flex;
    }
}

.image {
    @include media-xs {
        flex: 1 1.5 100%;
    }
}

.body {
    @include media-xs {
        flex: 1 1 100%;
    }

    @include padding(0.2, 1, 0.2, 1);
    & > * {
        @include padding(0, 0, 0.5, 1);
    }
}