@use './variables.scss' as *;

.input-group {
    width: 100%;
    display: inline-block;

    & > * {
        width: calc(100%);
    }

    select, input, textarea {
        @extend .p-2;
        transition: $transition-speed;

        outline: 1px solid transparent;
        outline-offset: 10px;
        
        &:hover, &:active, &:focus {
            outline: 1px solid #9E2B25;
            outline-offset: -2px;
        }
    }
}
