@use './variables.scss' as *;


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    font-size: 1.1rem;
    color: $font-dark;
    background: $bg-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.2em;
}

p {
    padding: 0.2em 0;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}

a:focus, button:focus {
    outline: 0;
    box-shadow: $shadow $primary;
}

.icon {
    width: 1.4rem;
}

.grow {
    flex-grow: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include media-md {
    html {font-size: 90%;};
}
@include media-sm {
    html {font-size: 85%;};
}
@include media-xs {
    html {font-size: 80%;};
}


.input-group {
    width: 100%;
    margin-left: 1rem;

    & > * {
        margin-left: -1rem;
        width: calc(100% + 1rem);
    }

    select, input, textarea {
        @extend .p-2;
        transition: $transition-speed;

        outline: 1px solid transparent;
        outline-offset: 20px;
        
        &:hover, &:active, &:focus {
            outline: 1px solid #9E2B25;
            outline-offset: -2px;
        }
    }
}