@use './variables.scss' as *;

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("~/assets/fonts/Lato-ext.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("~/assets/fonts/Lato.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

.container {
    display: block;
    max-width: $lg;
    width: 100%;
    margin: 0 auto;
}

.icon {
    width: 1.4rem;
}

.hide-xl {
    @include media-xl {display: none;}
}
.hide-lg {
    @include media-lg {display: none;}
}
.hide-md {
    @include media-md {display: none;}
}
.hide-sm {
    @include media-sm {display: none;}
}
.hide-xs {
    @include media-xs {display: none;}
}

.grow {
    flex-grow: 1;
}

body {
    font-family: 'Roboto', Geneva, Verdana, sans-serif;
    background: $bg-primary;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.2em;
}

p {
    padding: 0.2em 0;
    // font-size: $font-size-md;
}