@use './variables.scss' as *;
@use './input.scss';
@use './button.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    font-size: 1.1rem;
    color: $font-dark;
    background: $bg-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.2em;
}

p {
    padding: 0.2em 0;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}

a:focus, button:focus {
    outline: 0;
    box-shadow: $shadow $primary;
}

.icon {
    width: 1.4rem;
}

.grow {
    flex-grow: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include media-md {
    html {font-size: 90%;};
}
@include media-sm {
    html {font-size: 85%;};
}
@include media-xs {
    html {font-size: 80%;};
}
