$primary: #9E2B25;
$secondary: #CAC8BB;
$error: #f44336;
$white: #fff;
$black: #000;

$primary-dark: darken($primary, 20);
$secondary-dark: darken($secondary, 20);

$primary-light: lighten($primary, 10);
$secondary-light: lighten($secondary, 10);

$bg-primary: #FDFDFD;
$app-bg: #F8FAF5;

$bg-primary-dark: #383838;
$bg-secondary-dark: #010101;

$font-dark: #010101;
$font-light: #fcfcfc;

$transition-speed: 200ms;
$transition-speed-slow: 500ms;
$transition-speed-fast: 50ms;

$app-bar-height: 60px;

$space-xs: 0.6rem;
$space-sm: 0.8rem;
$space-md: 1rem;
$space-lg: 1.2rem;
$space-xl: 1.4rem;

$font-size-xs: 0.7rem;
$font-size-sm: 0.8rem;
$font-size-md: 0.9rem;
$font-size-lg: 1.4rem;
$font-size-xl: 1.7rem;

$shadow: 0px 0px 5px;
$shadow-lg: 2px 2px 20px;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

$container-width: $lg;

$shadow-z-index: 10;
$catalog-z-index: 100;

$types: 'm' 'margin', 'p' 'padding';
$directions-all: 't' 'top', 'r' 'right', 'b' 'bottom', 'l' 'left';
$directions: 'x' 'right' 'left', 'y' 'top' 'bottom';
$spaces: '1' 0.2rem, '2' 0.7rem, '3' 1.5rem, '4' 2rem, '5' 4rem;


@mixin media-xs {
	@media screen and (max-width: $xs) {
		@content;
	}
}

@mixin media-sm {
	@media screen and (max-width: $sm) {
		@content;
	}
}

@mixin media-md {
	@media screen and (max-width: $md) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (max-width: $lg) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (max-width: $xl) {
		@content;
	}
}

@each $typekey,
$type in $types {

	@each $dirkey,
	$dir in $directions-all {

		@each $key,
		$space in $spaces {
			.#{$typekey}#{$dirkey}-#{$key} {
				#{$type}-#{$dir}: $space;
			}
		}
	}

	@each $dirkey,
	$dir1,
	$dir2 in $directions {

		@each $spacekey,
		$space in $spaces {
			.#{$typekey}#{$dirkey}-#{$spacekey} {
				#{$type}-#{$dir1}: $space;
				#{$type}-#{$dir2}: $space;
			}
		}
	}

	@each $spacekey,
	$space in $spaces {
		.#{$typekey}-#{$spacekey} {
			#{$type}: $space;
		}
	}
}

@each $key,
$value in ('xl'$xl, 'lg'$lg, 'md'$md, 'sm'$sm, 'xs'$xs) {
	.show-#{$key} {
		@media screen and (min-width: $value) {
			display: none;
		}
	}

	.hide-#{$key} {
		@media screen and (max-width: $value) {
			display: none;
		}
	}
}