$primary: #c33c33;
$secondary: #bcbcbc;

$primary-dark: darken(#c33c33, 20);
$secondary-dark: darken(#bcbcbc, 20);

$primary-light: lighten(#c33c33, 20);
$secondary-light: lighten(#bcbcbc, 20);

$bg-primary: #fdfdfd;
$bg-secondary: #bcbcbc;

$bg-primary-dark: #383838;
$bg-secondary-dark: #010101;

$font-dark: #010101;
$font-light: #fcfcfc;

$transition-speed: 200ms;
$transition-speed-slow: 500ms;
$transition-speed-fast: 50ms;

$app-bar-height: 60px;

$space-xs: 0.6rem;
$space-sm: 0.8rem;
$space-md: 1rem;
$space-lg: 1.2rem;
$space-xl: 1.4rem;

$font-size-xs: 0.5rem; 
$font-size-sm: 0.7rem;
$font-size-md: 0.9rem;
$font-size-lg: 1.2rem; 
$font-size-xl: 1.4rem; 

$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

@mixin media-xs {
    @media screen and (max-width: $xs) { @content; }
}

@mixin media-sm {
    @media screen and (max-width: $sm) { @content; }
}

@mixin media-md {
    @media screen and (max-width: $md) { @content; }
}

@mixin media-lg {
    @media screen and (max-width: $lg) { @content; }
}

@mixin media-xl {
    @media screen and (max-width: $xl) { @content; }
}

@mixin shadow {
    box-shadow: 0px 0px 10px black;
}