@use '~/styles/variables.scss' as *;


.total-price {
    font-size: $font-size-xl;
    @include padding(0, 0, 2, 0);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.empty-cart {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}