@use '~/styles/variables.scss' as *;


.root {
    display: flex;
}

.input-group {
    display: flex;
}

.customer-data, .order-detail {
    > * {
        @include margin(1, 0);
    }
}
.customer-data {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-detail {
    flex: 1;
    width: 100%;
    @include margin(0, 0, 0, 2);
}




