@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    flex-wrap: wrap;
}

.errorMessage {
    width: 100%;
    text-align: center;
    border: 1px solid $error;
    color: $error;
    padding: 1rem;
}

.input-group {
    display: flex;
    @include media-xs {
        flex-wrap: wrap;
        flex-basis: 100%;
    }
}

.input-columns {
    flex: 1 1 50%;

    @include media-md {
        flex-basis: 100%;
    }

    > * {
        @include margin(1, 0);
    }
}



