@use '~/styles/variables.scss' as *;

$underline-width: 40px;

.root {
    text-align: center;

    h1,h2,h3,h4,h5,h6 {
        display: inline-block;
        font-family: 'Lato', sans-serif;
        margin-bottom: 1rem;
        text-transform: uppercase;
        position: relative;
        text-align: left;
    
        &::before {
            background: $secondary none repeat scroll 0 0;
            left: $underline-width;
        }
        &::after {
            background: $primary none repeat scroll 0 0;
            left: 0;
        }
        &::before, &::after {
            bottom: -13px;
            content: "";
            height: 5px;
            position: absolute;
            width: $underline-width;
        }
    }
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.bottom__xl { @extend .mb-5; }
.top__xl { @extend .mt-5 ;}

.bottom__lg { @extend .mb-4; }
.top__lg { @extend .mt-4 ;}

.bottom__md { @extend .mb-3; }
.top__md { @extend .mt-3 ;}

.bottom__sm { @extend .mb-2; }
.top__sm { @extend .mt-2 ;}

.bottom__xs { @extend .mb-1; }
.top__xs { @extend .mt-1 ;}

