@use '~/styles/variables.scss' as *;

.root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    header {
        margin-bottom: $space-sm;
    }
    
    footer {
        margin-top: auto;
    }
}