@use '~/styles/variables.scss' as *;


$gap: 0.5rem;

.bg {
    @extend .my-4;
    background-color: $primary;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -$gap;
}

.text {
    margin-top: 0.5rem;
    color: $white;
}

.image {
    border-radius: 50%;
}

.feature {
    margin: $gap;
    flex: 1 1 calc(25% - #{$gap * 2});
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include media-xs {
        flex: 1 1 calc(50% - #{$gap * 2});
    }
}



