@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    margin-bottom: 5rem;
}

.imagesPreview {
    flex: 1 1;
    padding: 0 1.5rem;
    overflow-y: scroll;
    max-height: 460px;
    scrollbar-width: thin;
}

.imagePreview {
    @include margin(0.5, 0);
    @include padding(0, 2);
    box-shadow: 1px 1px 5px black;
}

.image {
    flex: 2;
    @include padding(1)
}

.body {
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 1px solid $bg-secondary;
    background: #fafafa ;

    .titleSection, .brandSection {
        border-bottom: 1px solid $bg-secondary;
        @include padding(1);
    }

    .titleSection {
        h1 {
            @include padding(0, 0, 2, 0);
        }
        
        .price {
            font-size: $font-size-xl;
        }
                
        .new {
            display: block;
            background: $primary;
            color: white;
            width: 70px;
            padding: 0.2rem;
            text-align: center;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
    }

    .cartSection {
        @include padding(1);

        > * {
            @include padding(1, 0);
        }

        .qty {
            > button {
                width: 40px;
                height: 40px;
                padding: 0;
            }

            > span {
                @include margin(0, 1)
            }
        }
    }
}

