@use '~/styles/variables.scss' as *;
@use '~/styles/container.scss' as *;


.root {
    display: flex;
    align-items: flex-end;
    position: relative;
    @extend .mb-3;
    overflow: hidden;
    height: 440px;

    @include media-sm {
        height: 200px;
    }
}

.image {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
}

.text {
    @extend .container;
    font-size: $font-size-xl;
    color: white;
    padding: $space-lg;
    padding-bottom: $space-lg * 2;
    z-index: 1;
}

.gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5));
}