@use '~/styles/variables.scss' as *;

.background {
    background-color: $app-bg;
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
}

.height {
    margin-bottom: $app-bar-height;
    height: 0;
}
