@use '~/styles/variables.scss' as *;
@use '~/styles/button.scss' as *;

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    @extend .btn, .text;
    height: $app-bar-height;
    padding: 0 $space-md;
    
    &.active {
        color: $primary;
    }
}
