@use '~/styles/variables.scss' as *;

.logo {
    display: flex;
    align-items: center;
    @extend .mx-2;
    height: $app-bar-height;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    height: $app-bar-height;
    padding: 0 $space-md !important;
    &.active {
        color: $primary;
    }
}
