@use '~/styles/global.scss' as *;


.root {
    @extend .input-group;
}

.select {       
    display: flex;
    width: 100%;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

.button {
    user-select: none;
    margin: 0 !important;
}

.input {
    border: none;
    background: none;
    text-align: center;
}
