@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    align-items: center;
}

.label {
    margin-right: 0.5rem;
}

.select {       
    display: flex;
    width: 100%;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

.button {
    width: 40px;
    user-select: none;
    margin: 0 !important;
}

.input {
    width: 40px;
    border: none;
    background: none;
    text-align: center;
}