@use '~/styles/variables.scss' as *;


.promos {
    span {
        display: inline-flex;
        @extend .px-2, .py-1, .mb-2, .mr-2;
        background: $primary;
        color: white;
        text-align: center;
        font-size: $font-size-lg;
        border-radius: 0.2rem;
    }
}
