@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    flex: 2;
    flex-direction: column;

    @include media-md {
        margin-bottom: 2rem;
    }
}

.imagesPreview {
    display: flex;
    flex: 1;
    overflow-x: scroll;
    max-height: 900px;
    scrollbar-width: thin;

    > li {
        flex: 1 0 120px;
    }
}

.imagePreview {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid $secondary-light;
    
    button {
        background: none;
        border: none;
        transition: $transition-speed;

        &.selected, &:hover {
            box-shadow: 3px 3px 5px black;
        }
    }
}

.image {
    flex: 3;
}
