@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    flex: 2;

    @include media-md {
        @include margin(0,0,10,0);
    }
}

.imagesPreview {
    flex: 1;
    @include padding(0, 1.5);
    overflow-y: scroll;
    max-height: 460px;
    scrollbar-width: thin;

}

.imagePreview {
    @include margin(0.5, 0);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 1px black;
    
    button {
        background: none;
        border: none;
        @include padding(0, 2);
        transition: $transition-speed;

        &.selected, &:hover {
            box-shadow: 3px 3px 5px black;
        }
    }
}

.image {
    flex: 3;
    @include padding(1)
}
