@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @extend .mt-2;

    li {
        list-style: none;
    }
    
    a.active{
        color: $primary;
    }
}
