@use '~/styles/variables.scss' as *;


.form {
    display: flex;

    @include media-sm {
        flex-direction: column;
    }

    input, select, textarea {
        @extend .mb-2;
    }
}

.input-columns {
    flex: 1 1 100%;
    margin: 0 0.5rem;
}

.input-group {
    display: flex;

    @include media-xs {
        flex-direction: column;
    }
}

.textarea {
    resize: none;
    min-height: 320px;
}
