@use '~/styles/variables.scss' as *;


.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include margin(5, 0, 0, 0);

    > * {
        margin: 0 1rem;
    }

    .image {
        flex: 1;
    }

    .title {
        flex: 3;
    }

    .price {
        flex: 1;
    }

    .options {
        flex: 1;
    }

    @include media-xs {
        .title {
            flex: 1 1 100%;
            text-align: center;
        }
        .image {
            order: 1;
        }
        .options {
            flex: 1 1 100%;
            order: 1;
        }
    }
}

.line {
    @include margin(1, 0, 1, 0);
}