@use '~/styles/variables.scss' as *;



.root {
    padding: $space-md;
}

.aboutContainer {
    display: flex;
    flex-wrap: wrap;
}

.aboutItem {
    flex: 1 1;
        
    &:last-child {
        padding-left: 1rem;
    }

    &:first-child {
        padding-right: 1rem;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
    }

    @include media-sm {
        flex: 1 1 100%;
    }
}

.chooseUsContainer {
    display: flex;
    flex-wrap: wrap;
}

.chooseUsItem {
    padding: 1rem;
    flex: 1 1 25%;
    text-align: center;

    @include media-md {
        flex: 1 1 50%;
    }
    @include media-sm {
        flex: 1 1 100%;
    }

    & > * {
        margin-bottom: 1rem;
    }
}
